# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/

# Garmin secrets
secret.txt

# Database file
run_page/data.db

# Created from TCX and GPX
imported.json
src/static/activities.json

# SVGs
assets
!assets/index.tsx
!assets/start.svg
!assets/end.svg
